[Unit]
Description=Run Pluribus maintenance worker every 5 minutes

[Timer]
OnBootSec=1min
OnUnitInactiveSec=5min
Persistent=true
Unit=pluribus-worker.service

[Install]
WantedBy=timers.target
